.row-container{
    display: flex;
    width: 100%; 
    margin: 0 auto;
    padding: 10px 10px;
    justify-content: space-around ;
    flex-direction: row;
    flex-wrap: wrap;
       
}
.container{
    margin-top: 0 auto;
    background-color:rgb(190, 128, 247);
    color: floralwhite;
    padding:0px 10px 10px;
}
.box-1{
    border: floralwhite 2px ridge;
}
.row-container div{
    display: flex; 
    padding: 5px;
    justify-content: space-around ;
    align-content: center;
    align-items: center;
       
}
hr{
    display: flex;
    width: 75%;
    margin:5px auto;
    
}
.btn-1{
    color: blanchedalmond;
    background-color: rgb(35, 209, 0);
}
.btn-1:hover{
    color:blanchedalmond;
    background-color:rgb(22, 133, 0);
}
.row-container img{
    border: cornsilk ridge 2px;
    width: 28%;
    height:auto;
    margin: 10px 5px;
    box-shadow: 0px 10px 50px rgb(33, 1, 59);
}
.rps{
    display: flex;
    width: 80%; 
    margin: 30px auto;
    justify-content: space-around ;
    flex-direction: row;
    flex-wrap: wrap;
    border: floralwhite 1px ridge;


}
.rps .game{
    display: flex; 
    width: 30%;
    padding: 5px;
    justify-content: space-around ;
    align-content: center;
    align-items: center;
}
.rps .game img{
    width:90%;
    height: auto;
    margin: 10px 10px;

}
.rps .game img:hover{
    box-shadow:  0px 10px 50px blue;
}
#red{
 color: red;
}
#green{
 color: rgb(0, 255, 0);
}
#yellow{
 color: rgb(252, 252, 36);
}

#botchoice{
    box-shadow:  0px 10px 50px rgb(255, 0, 0);
}
#yourchoice{
    box-shadow:  0px 10px 50px rgb(0, 0, 255);
}