    header{
        background-color:rgb(182, 182, 182);
        
      }
      h1{
        font-size:280%;
        text-align:center;
        color:#ffffff;
        text-transform: uppercase;
      }
      a{
        display:inline-block;
        background-color:rgb(175, 175, 175);
        color:black;
        text-align: center;
      }
      aside{
        display:none;
      }
      section.right{
        background-color:rgb(119, 117, 117);
      }
        
      h2{
        text-transform: uppercase;
        color:rgba(15, 15, 173, 0.904);
        font-size:200%;
      }
      
