nav{
    display: inline-block;
    width: 25%;
    text-align: center;
}
nav a:link{
    display: inline-block;
    width: 19%;
    text-decoration:none;
    font-size: 80%;
    color: cornsilk;
    padding: 2px;
    margin-right: 1px; 
}