nav{
    display: inline-block;
    width: 25%;
    text-align: center;
}
nav a:link{
    width: 25%;
    text-decoration:none;
    font-size: 80%;
    color: cornsilk;
    padding: 4px;
    margin: 0 auto;
    box-sizing: border-box;
}
nav a:hover{
    color: crimson;
}
a:focus{
    background-color: darkkhaki;
}
a:active{
    border: 1px dotted firebrick;
}

ol{
    list-style-type: lower-greek;
}