body{
    background-color: rgb(187, 186, 186);
   margin: 2%;
   font-size: 120%;
}
header{
    text-align: center;
    background-color: rgba(24, 187, 236, 0.712);
}
h1{
    font-size: 150%;
    color: rgb(255, 255, 255);
    font-family: arial,"Time New Roman",serif;
    text-transform: uppercase;
    padding: 1%;
}
h2{
    background-color: rgb(109, 168, 223);
    padding: 3%;
    text-align:center;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}
footer{
    background-color: rgba(97, 163, 224, 0.959);
   color: rgb(255, 255, 255);
   clear: both;
}
a{
    vertical-align: top;
}

section{
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    float: left;
}
img{
    width: 75px;
}